<html>
    <head>
        <script src="static/index.js"></script>
    </head>
    <body>
        Memory Dump Viewer
        <nav>
            <h1>
                Memory Dump Viewer
            </h1>
            <h1>
                Load file
                <input type="file"/>
            </h1>
            <h2>
                <div>
                    Prev
                </div>
                <div>
                    Next
                </div>
            </h2>
        </nav>


        <div>
            Display memory information
        </div>
        
    </body>
</html>
