.uploadForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.memory-viewer-container {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}